Week-4 - Basics of ML/contents/
Week-3 - Data Science with Python/euro2024_players.csv
Week-5 - Statistics/Contents/
Week-6 - Feature Engineering/archive
Week-7 - Regression/archive
Week-8 - Clustering/archive
Project/archive